# Folders
.github/ export-ignore
tests/   export-ignore

# Files
.editorconfig     export-ignore
.gitignore        export-ignore
.gitattributes    export-ignore
phpstan.neon.dist export-ignore
phpunit.xml       export-ignore
